<%- include("partials/header"); -%>
<link rel="stylesheet" href="/css/webpage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href='https://fonts.googleapis.com/css?family=Calistoga' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css.map" rel="stylesheet">
<body>

  <div class="hills-image" style="background-image:url('/images/<%= title %>.jpg');">
    <div class="hills-text">
      <h1><%= title %> Package</h1>
      <p>___________________</p>
      <h2>Explore new <%=title %> areas</h2>
      <!-- <button>cdHire me</button> -->
    </div>
  </div>

  <section id="hills-content">
    <h2><%= description %></h2>
    <p>___________________________________________________________________________</p>
    <h5>Top packages for the popular <%= title %> of South India.</h5>

    <div class="row">
    <% items.forEach(function(item1) { %>
    <div class="pricing-section col-lg-4 col-md-6">
      <div class="card">
        <img src="/uploads/<%= item1.img %>" class="card-img-top" alt="Card image cap">
        <div class="card-header">
        </div>
        <div class="card-body">
              <h4>Tourist Place:</h4>
              <br>
              <h4 style="text-align:center;" id="place" name="tour_package" value="tour_package"><%= item1.tourist_place %></h4>
              <p>____________________________________________</p>
              <h6 id="budget{{item1.id}}" class="budget">Budget:<p style="text-align:right;"><span style="text-align:right" id="budget"><%= item1.budget %></span></p></h6>
              <h6>Days plan:<span style="text-align:right"><p style="padding-left:10px;"><%= item1.days_plan %></p></span></h6>
              <h6>Room Charges:<span style="text-align:right"><p style="padding-left:10px;" id="room"><%= item1.room_charges %></p></span></h6>
              <p style="text-align:center;"><button class="btn btn-sm btn-success" type="button" value="Click" onclick="addition('{{item1.id}}')" style="color:white;"><a href="/addBooking/<%= item1.id %>/<%= title %>" style="color:white;">Book Now</a></button></p>
        </div>
      </div>
    </div>
    <% }) %>

  </section>

  <!-- <script>
    var cost = 0;
    function addition(item1)
    {
        console.log("gowshik");
        var place = document.getElementById('place').innerHTML;
        var budget = document.getElementById('budget').innerHTML;
        var room_charges = document.getElementById('room').innerHTML;
        console.log("Tourist Place" + " " +place);
        console.log("budget" +"  "+budget);
        console.log("roomcharges" + "  "+room_charges);
        cost = parseInt(budget) + parseInt(room_charges);
        console.log("total_cost" + " "+cost);
    }
  </script> -->
  <script src="/index.js" charset="utf-8"></script>
</body>
